@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

.hidden {
    display: none;
}

.header {
    display: flex;
    justify-content: space-between;
    max-width: 1110px;
    margin: 21px auto 45px auto;
}

.comed-container:hover .comed-logo-hover {
    display: initial;
    cursor: pointer;
}

.comed-container:hover .comed-logo {
    display: none;
}


.comed-logo-hover {
    display: none;
}


.comed-logo:hover {
    display: none;
}

.main-section {
    display: flex;
    max-width: 1110px;
    min-width: 1110px;
    margin: 0 auto 85px auto;
    justify-content: space-between;
}

.main-content {
    width: 436px;
    margin: 68px 87px 0 0;
}

.content-title {
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    color: #FF8000;
}

.content-info {
    margin: 32px 0;
    padding-left: 17px;
}

.content-info-point {
    color: #5C7CCD;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 16px;
}

.content-buttons {
    display: flex;
    justify-content: space-between;
}

.content-buttons button {
    width: 208px;
    height: 65px;
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    border-radius: 8px;
    cursor: pointer;
}

.content-submit-button {
    background: #4B66AB;
    color: #fff;
    border: none;
}

.content-learnmore-button {
    color: #4B66AB;
    background-color: inherit;
    border: 2.11923px solid #4B66AB;
}

.circle-container {
    position: relative;
    width: 561px;
    height:562px;
    margin-top: 25px;
}

.circle-center {
    position: absolute;
    top: calc(50% - 97px);
    left: calc(50% - 97px);
    width: 194px;
    height: 194px;
    border-radius: 50%;
    background: #E29047;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.circle-center-title {
    font-weight: 600;
    font-size: 54.337px;
    line-height: 66px;
    color: #fff;
}

.circle-center-description {
    color: rgba(255, 255, 255, 0.8);
    font-weight: 400;
    font-size: 12.4199px;
    line-height: 15px;
    text-align: center;
    margin-top: 5px;
    width: 110px;
}

#circle-client, #circle-med, #circle-phase, #circle-medotd, #circle-reg, #circle-l-client, #circle-l-med, #circle-l-phase, #circle-l-medotd, #circle-l-reg {
    position: absolute;
    cursor: pointer;
}

#circle-l-client:hover path, #circle-l-med:hover path, #circle-l-phase:hover path, #circle-l-medotd:hover path, #circle-l-reg:hover path,
#info-client:hover + #circle-l-client path, #info-med:hover + #circle-l-med path, #info-phase:hover + #circle-l-phase path, #info-reg:hover + #circle-l-reg path, #info-medotd:hover + #circle-l-medotd path {
    fill: rgba(226, 144, 71, 0.22);
}

#circle-client {
    left: 402.55px;
    top: 52.66px;
}

#circle-med {
    top: 344.84px;
    left: 282.43px;
}

#circle-phase {
    left: 14.34px;
    top: 347.54px;
}

#circle-medotd {
    top: 54.87px;
    left: 0;
}

#circle-reg {
    top: 1.2px;
    left: 113.9px;
}

.circle-active path {
    fill: #E29047;
}

#circle-l-client {
    top: 116.72px;
    left: 344.19px;
}

#circle-l-med {
    top: 313.69px;
    left: 282.01px;
}

#circle-l-phase {
    top: 315.61px;
    left: 89.75px;
}

#circle-l-medotd {
    top: 118.93px;
    left: 79.3px;
}

#circle-l-reg {
    left: 160.1px;
    top: 79.9px;
}

.circle-l-active path {
    fill: #E29047!important;
}

#info-client, #info-med, #info-phase, #info-medotd, #info-phase, #info-reg {
    position: absolute;
    display: flex;
    align-items: center;
    flex-direction: column;
    z-index: 2;
    cursor: pointer;
}

.text-active p{
    color: #fff;
}

.text-active svg path {
    fill: #fff;
}

#info-client {
    /* 387 */
    left:391.6px;
    top: 205.7px;
}

#info-med {
    left: 330.59px;
    top: 359.33px;
}

#info-phase {
    left: 128.93px;
    top: 359.33px;
}

#info-medotd {
    left: 83.99px;
    top: 204.93px;
}

#info-reg{
    left: 195.65px;
    top: 91.6px;
}

.info-description {
    color: #5C7CCD;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
}

.client-content,.med-content, .phase-content, .medotd-content, .reg-content, .default-content {
    display: none;
}

.active-content {
    display: initial;
}

.default-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
}

.default-huge-text {
    font-weight: 600;
    font-size: 60px;
    color: #FF8000;
}

.default-text {
    font-size: 24px;
    line-height: 29px;
    color: #5C7CCD;
    width: 187px;
}

.default-submit-button {
    width: 413px;
    height: 65px;
    border-radius: 8px;
    background: #4B66AB;
    border: none;
    color: #fff;
    font-size: 24px;
    line-height: 29px;
    cursor: pointer;
}

.footer {
    width: 1110px;
    margin: 35px auto 56px auto;
    display: flex;
    flex-direction: column;
}

.footer-line-f {
    display: flex;
}

.footer-text {
    color: #5C7CCD;
    text-decoration: none;
    margin-right: 100px;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
}

.footer-text:last-of-type {
    margin-right: auto;
}

.footer-search-container {
    position: relative;
}

#footer-search {
    width: 221px;
    height: 34px;
    border: 1px solid #5C7CCD;
    border-radius: 4px;
    padding-left: 15px;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.1px;
    padding-right: 45px;
}

#footer-search:focus {
    outline: none;
}

#footer-search-button {
    position: absolute;
    left: 188px;
    top: 8px;
    cursor: pointer;
}

.footer-copyright {
    margin: 46px auto 0 auto;
    color: #5C7CCD;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
}

.services-section {
    display: flex;
    flex-direction: column;
    width: 1110px;
    margin: 0 auto 90px auto;
}

.services-title {
    margin: 0 auto 41px auto;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    color: #FF8000;
}

.services-tags-container {
    display: flex;
    gap: 13px;
    margin-bottom: 41px;
}

.services-tag {
    padding: 10px 17px;
    background: #F8F8F8;
    border-radius: 4px;
    color: #9DB0E1;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    cursor: pointer;
}

.services-tag[data-section="client"] {
    min-width: 162px;
}

.services-tag-active {
    background: #E29047;
    color: #fff;
}

.services-content-container {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
}

.services-card {
    width: 349px;
    min-height: 137px;
    display: flex;
}

.services-card svg {
    margin-top: 6.12px;
}

.services-card-active svg path {
    fill: #4B66AB;
}

.services-card-text {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-left: 17px;
}

.card-title {
    color: #9DB0E1;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    width: 242px;
}

.services-card-active .card-title {
    color: #FF8000;
}

.card-text {
    width: 242px;
    color: #9DB0E1;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
}

.services-card-active .card-text {
    color: #4B66AB;
}

.application-popup {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 3;

    background: rgba(36, 42, 56, 0.68);
    backdrop-filter: blur(20px);
}

.application-popup-content {
    position: absolute;
    width: 1060px;
    height: 655px;
    left: calc(50% - 530px);
    top: calc(50% - 327.5px);
    background-color: #fff;
    padding: 63px 310px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#application-popup-close {
    position: absolute;
    right: 44px;
    top: 35px;
    cursor: pointer;
}

.application-title {
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    color: #242A38;
    margin-bottom: 16px;
}

.application-description {
    width: 441px;
    font-weight: 400;
    font-size: 18px;
    line-height: 130%;
    text-align: center;
    color: #7E8285;

    margin-bottom: 30px;
}

.application-input {
    width: 394px;
    height: 56px;
    padding: 0 16.46px;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.1px;

    border: 1px solid #9C9C9C;
    border-radius: 4px;

    margin-bottom: 8px;
}

.application-input:focus {
    outline: none;
}

#comment-input {
    height: 74px;
    resize: none;
    padding-top: 19px;
    padding-bottom: 19px;
}

#application-confirm {
    width: 394px;
    height: 56px;
    background: #4B66AB;
    color: #fff;
    border-radius: 8px;
    border: none;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.1px;
    cursor: pointer;
    margin-bottom: 8px;
}

.application-button-description {
    width: 394px;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.1px;
    color: #222222;
    opacity: 0.7;
}

.application-button-description a {
    text-decoration: none;
    color: rgba(75, 102, 171, 1);
}