@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

.header {
    display: flex;
    justify-content: space-between;
    max-width: 1110px;
    margin: 21px auto 45px auto;
}

.comed-logo {
    cursor: pointer;
}

.main-section {
    display: flex;
    max-width: 1110px;
    min-width: 1110px;
    margin: 0 auto 85px auto;
    justify-content: space-between;
}

.main-content {
    width: 436px;
    margin: 68px 87px 0 0;
}

.content-title {
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    color: #FF8000;
}

.content-info {
    margin: 32px 0;
    padding-left: 17px;
}

.content-info-point {
    color: #5C7CCD;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 16px;
}

.content-buttons {
    display: flex;
    justify-content: space-between;
}

.content-buttons button {
    width: 208px;
    height: 65px;
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    border-radius: 8px;
    cursor: pointer;
}

.content-submit-button {
    background: #4B66AB;
    color: #fff;
    border: none;
}

.content-learnmore-button {
    color: #4B66AB;
    background-color: inherit;
    border: 2.11923px solid #4B66AB;
}

.circle-container {
    position: relative;
    width: 561px;
    height:562px;
    margin-top: 25px;
}

.circle-center {
    position: absolute;
    top: calc(50% - 97px);
    left: calc(50% - 97px);
    width: 194px;
    height: 194px;
    border-radius: 50%;
    background: #E29047;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.circle-center-title {
    font-weight: 600;
    font-size: 54.337px;
    line-height: 66px;
    color: #fff;
}

.circle-center-description {
    color: rgba(255, 255, 255, 0.8);
    font-weight: 400;
    font-size: 12.4199px;
    line-height: 15px;
    text-align: center;
    margin-top: 5px;
    width: 110px;
}

#circle-client, #circle-med, #circle-phase, #circle-medotd, #circle-reg {
    position: absolute;
    cursor: pointer;
}

#circle-client {
    right: 1.1px;
    top: 112.9px;
}

#circle-med {
    bottom: 0;
    right: 51.59px;
}

#circle-phase {
    left: 0;
    bottom: 11.5px;
}

#circle-medotd {
    top: 15.5px;
}

#circle-reg {
    top: 1.8px;
    right: 55px;
}

.circle-active path {
    fill: #E29047;
}